﻿@model CoverType

<form method="post" asp-action="DeletePost">
    @*@Html.AntiForgeryToken()*@

    @* If all input are disable so id will not have value unless we provide hidden here *@
    <input asp-for="Id" hidden />

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Cover Type</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" disabled />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px;">Delete</button>
        <a asp-controller="CoverTpe" asp-action="Index" class="btn btn-secondary" style="width:150px;">Back to List</a>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}