﻿@{
    ViewData["Title"] = "Privacy Policy";
    // This will override the default _Layout page
    // Layout = "";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
